{% extends 'email/base.html.twig' %}

{% set title %}Password reset for {{ user }}{% endset %}

{% block body %}
    <p>To reset your password, please visit the following link</p>

    <p><a class="btn btn-primary btn-sm" href="{{ url('reset_password', {token: resetToken}) }}">Reset</a></p>

    <p>Url: {{ url('reset_password', {token: resetToken}) }}</p>

    <p>Cheers!</p>
{% endblock %}