{% extends 'email/base.html.twig' %}

{% set title %}Welcome {{ user.name }}!{% endset %}

{% block body %}
    <p>
        You have signed up as a guest to the Buitensport Durf vereniging member portal
        for the event <strong>{{ event }}</strong>.
    </p>
    <p>You have the following email: <code>{{ user.email }}</code></p>
    <p>
        You can now subscribe and modify your subscription
        <a class="btn btn-primary btn-sm"
           href="{{ url('login_event_guest', {user: user.id, event: event.id}) }}">
            Here
        </a>
    </p>
{% endblock %}