{% extends 'email/base.html.twig' %}

{% set title %}Welcome {{ user.name }}!{% endset %}

{% block body %}
    <p>
        You have signed up to the Buitensport Durf vereniging member portal. Your account is disabled for now.
        Please get in touch with the board to activate your account.
    </p>
    <p>You have used the username: <code>{{ user.username }}</code></p>
    <p>And the following email: <code>{{ user.email }}</code></p>

    <p>
        You can log in
        <a class="btn btn-primary btn-sm" href="{{ url('login') }}">Here</a>
        once your account is enabled
    </p>
{% endblock %}