{% extends 'base/single.column.html.twig' %}

{% set title %}Create Question {{ question }}{% endset %}

{% block body %}
    <a class="btn btn-primary" href="{{ path('event_event_show', {'id': event.id}) }}">Back to event</a>

    {{ form(form) }}
{% endblock %}
