{% extends 'base/container.html.twig' %}

{% block container %}
    <div class="row my-4">
        <div class="col-sm mx-auto">
            {% if title is defined %}
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2 class="mb-0">{{ title }}</h2>
                    {% block actions %}{% endblock %}
                </div>
            {% endif %}
            {% block body %}{% endblock %}
        </div>
    </div>
{% endblock %}
