{% extends 'base/base.html.twig' %}

{% set title %}Subscribe to {{ event }}{% endset %}

{% block body %}
    <a class="btn btn-primary" href="{{ path('event_event_show', {id: event.id}) }}">Back to {{ event }}</a>

    {{ form(form) }}
{% endblock %}
