{% extends 'base/single.column.html.twig' %}

{% set title %}Create Recurring Event{% endset %}

{% block actions %}
    <a class="btn btn-sm btn-outline-primary" href="{{ path('event_recurring_event_index') }}">Back to list</a>
{% endblock %}

{% block body %}
    {{ form(form) }}
{% endblock %}

{% block js %}
    {{ parent() }}
    {{ include('event/_duration_sync.html.twig') }}
{% endblock %}
