{% extends 'email/base.html.twig' %}

{% block body %}
    <h1>Hello {{ user }}</h1>

    <p>To reset your password, please visit the following link</p>

    <a href="{{ url('reset_password', {token: resetToken}) }}">{{ url('reset_password', {token: resetToken}) }}</a>

    <p>Cheers!</p>
{% endblock %}